
main{
    background-color: aqua;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
label{
    display: block;
    margin: 10px auto;
    width: 100%;
    
}
p{
    display: inline;
    width: 30%;
}
#calculate{
    max-width: 500px;
    width: 70%;
    margin: 0 auto;
}
h1{
    text-align: center;
}
input{
    
    width: 60%;
    float: right;
    
}
button{
    margin: 20px auto;
}
.tip > p{
    display: block;
    text-align: center;
    width: 100%;
}
#heading {
    background-color: rgb(65, 189, 174);
    width: 100%;
    height: auto;
    
}
#output{
    margin : 10px auto;
    text-align: center;
}
form{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#but{
    display: flex;
    justify-content: center;
}